:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-card: #f0f0f0;
	--color-green: #28d979;
	--color-jon-card: #fff;
	--color-text: #000;
	--color-subtext: #5c5c5c;
	--color-subtext-last: #ebf9f2;
	--color-subtext-experience: #3f3d3d;

	--font-size-xs: 10px;
	--font-size-sm: 10px;
	--font-size-md: 12px;
	--font-size-lg: 14px;
	--font-size-xl: 18px;

	--spacing-xs: 8px;
	--spacing-sm: 12px;
	--spacing-md: 20px;
	--spacing-lg: 24px;


    --radius-xs: 3px;
	--radius-sm: 6px;
	--radius-md: 12px;
	--radius-pill: 59px;

	--padding-xs: 2px;
	--padding-sm: 8px;
	--padding-md: 12px;
}

/* ---------- BASE ---------- */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	color: var(--color-text);
	border-radius: var(--radius-md);
	font-size: var(--font-size-sm);
}

[contenteditable="true"]:focus {
	outline: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: none;
}
a:hover {
	color: #535bf2;
}

p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	text-align: left;
	font-weight: 500;

	transition: background-color 0.3s, color 0.3s;
	outline: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: start;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #000;
	cursor: pointer;
	transition: border-color 0.25s;
	color: #fff;
	display: block;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* ---------- CONTAINERS ---------- */

.container {
	width: 100%;
	max-width: 555px;
	margin: 0 auto;
}

.resume__intro,
.resume__languages,
.resume__education,
.resume__experience,
.resume__tools,
.resume__interests {
	border-radius: var(--font-size-sm);
	background: var(--color-card);
}

/* ---------- HEADER ---------- */

.resume__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: var(--font-size-sm);
	gap: var(--spacing-md);
}

/* ---------- PHOTO ---------- */

.resume__photo {
	height: 124px;
}

/* ---------- INTRO ---------- */

.resume__intro {
	padding: var(--spacing-sm);
	text-align: center;
	min-width: 124px;
}

.resume__greeting {
	font-size: var(--font-size-sm);
	line-height: 1.5;
	color: var(--color-text);
	margin-bottom: 46px;
}

.resume__name {
	font-size: var(--font-size-lg);
	line-height: 1.04;
}

.resume__position {
	font-size: var(--font-size-md);
	line-height: 1.5;
	color: var(--color-subtext);
	margin-top: var(--spacing-xs);
}

/* ---------- LANGUAGES ---------- */

.resume__languages {
	padding: var(--spacing-sm);
	width: 100%;
	min-width: 185px;
	flex: 1 1 0;
}

.resume__section-title {
	font-size: var(--font-size-xl);
	line-height: 1.5;
	margin-bottom: 16px;
}

.resume__languages-list {
	font-size: var(--font-size-sm);
	line-height: 1.04;
}

.resume__language {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--spacing-xs);
}

.resume__language-name {
    width: 100px;
}

/* .resume__language-bar {
	flex: 1 1 0;
	height: 10px;
	background: var(--color-green);
	border-radius: var(--radius-md);
	margin-left: var(--spacing-sm);
} */

.resume__language-range {
	position: relative;
    min-width: 10px;
	width: 100%;
	height: 10px;
    margin-left: var(--spacing-sm);
}

.range-bar {
	/* background: #e0e0e0; */
	width: 100%;
	height: 10px;
	border-radius: var(--radius-xs);
	overflow: hidden;
}

.range-fill {
	background: var(--color-green);
	height: 100%;
	width: 70%;
	transition: width 0.2s ease;
    border-radius: var(--radius-xs);
}

.range-input {
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 20px;
	opacity: 0;
	cursor: pointer;
}



/* ---------- MAIN ---------- */

.resume__main {
	display: flex;
	gap: 20px;
	width: 100%;
	margin-bottom: 20px;
}

/* ---------- EXPERIENCE ---------- */

.resume__experience {
	border-radius: var(--radius-md);
	padding: var(--padding-md);
	width: 100%;
	max-width: 411px;
}

.resume__job {
	max-width: 371px;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--color-jon-card);
	margin-bottom: 10px;
}

.resume__job:last-child {
	margin-bottom: 0;
}

.last {
	background-color: var(--color-green);
	color: var(--color-jon-card);
}

.resume__job-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.resume__job-title {
	width: 61px;
	height: 16px;
	line-height: 16px;
	border-radius: var(--radius-pill);
	background: rgba(126, 115, 18, 0.4);
	font-size: 8px;
	color: #ddf163;
	text-align: center;
}

.resume__job-date,
.resume__job-position,
.resume__job-company {
	font-size: 10px;
	line-height: 150%;
	font-family: var(--font-family);
	text-align: center;
}

.resume__job-company {
	color: var(--color-subtext-last);
	text-align: left;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: var(--font-size-sm);
	line-height: 150%;
}

.resume__job-details {
	display: flex;
}

.resume__job-info {
	width: 100%;
	max-width: 124px;
	margin-right: 20px;
}
.resume__job-position {
	text-align: left;
	font-family: var(--font-family);
	font-size: var(--font-size-md);
	line-height: 150%;
}

.resume__job-list {
	font-size: 8px;
	line-height: 150%;
	font-weight: 400;
	list-style: disc;
	height: 100%;
	max-width: 220px;
	min-width: 100px;
}

/* ---------- TOOLS ---------- */

.resume__tools {
	padding: var(--font-size-sm) 24px;
	width: 100%;
	max-width: 124px;
}

.resume__section-header {
	font-size: var(--font-size-md);
	line-height: 150%;
	margin-bottom: 15px;
}

.resume__tools-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 8px 2px;
	margin-bottom: 12px;
	border-radius: var(--radius-sm);
	background-color: var(--color-jon-card);
	position: relative;
}

.resume__tools-items:last-child {
	margin-bottom: 0;
}

.resume__tools-title {
	position: absolute !important;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	padding: 2px 6px;
	border-radius: var(--radius-pill);
	background-color: var(--color-text);
	color: var(--color-jon-card);
	font-size: 5px;
	line-height: 140%;
	text-align: center;
	width: max-content;
}

.resume__tools-icon {
	margin: 8px;
}

/* ---------- FOOTER ---------- */

.resume__footer {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 20px;
}

/* ---------- EDUCATION ---------- */

.resume__education {
	padding: 12px 8px 12px 12px;
	width: 100%;
	max-width: 268px;
}

.resume__education-header {
	margin-bottom: 16px;
}

.resume__education-body {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.resume__education-card {
	width: 100%;
	max-width: 116px;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--color-jon-card);
}

.resume__education-priority {
	background: var(--color-green);
	color: var(--color-subtext-last);
}

.resume__card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.resume__education-time,
.resume__education-text,
.resume__education-tags,
.resume__education-program {
	font-size: 8px;
	line-height: 150%;
	font-weight: 400;
}

.resume__education-time,
.resume__education-text {
	font-size: 10px;
	margin-top: 8px;
}

/* ---------- INTERESTS ---------- */

.resume__additionally {
	width: 100%;
	max-width: 267px;
	flex: 1 0 0;
}

.resume__interests {
	width: 100%;
	padding: var(--spacing-sm);
	margin-bottom: 20px;
}

.resume__interests-header {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 16px;
}

.resume__interests-body {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.resume__interests-item {
	display: inline-block;
	font-size: 10px;
	line-height: 150%;
	font-weight: 400;
	text-align: center;
	border-radius: 40px;
	padding: 4px 10px;
	background: var(--color-jon-card);

	white-space: normal;
	word-break: break-word;
	max-width: 100%;
}

/* ---------- EMAIL ---------- */

.resume__email {
	width: 100%;
	/* max-width: 267px; */
	padding: 12px;
	border-radius: var(--radius-md);
	background: var(--color-text);
	color: var(--color-jon-card);
}

.resume__email-header {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 10px;

	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
}

.resume__email-text {
	font-size: 10px;
	line-height: 150%;
	color: #ddd;
	font-weight: 400;
	font-family: var(--font-family);

	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
}

.ripple {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.ripple span.ripple-effect {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple-animation 600ms linear;
	background-color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
}

